getImageStyles() {
  const left = this.state.step * tileWidth;
  const top = this.state.state * tileHeight;

  return {
    position: 'absolute',
    transform: `translate(-${left}px, -${top}px)`,
  };
}
